
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



header {
    background-color: #fff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}



header h1 {
    margin: 0;
}



nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;

}



nav a {
    text-decoration: none;
    color: #6b6b6b;
    font: 24px Kodchasan, sans-serif;
}



.texto {

    background-color: #f5f5f5;
    padding: 50px;
    color: #6b6b6b;
    text-align: center;
    font: 20px Kodchasan, sans-serif;
    margin: 0px 0px 44px;
    
    }
    




    .logo {
        width: 300px;
    }




    #Capa_1  
    {
        width: 210px;
        padding: 10px 30px;
    }



    .Experiencia {
        margin: 0px 0px 44px;
        font: 25px Kodchasan,sans-serif;
        color: #6b6b6b;
        padding: 40px;
    }




    .cabecera_2{
        padding: 0px 20px;
        color: #6b6b6b;
        font: 20px Kodchasan, sans-serif;
        
    }




    .potenciamos{
        color: #2f2c2c;
        font: 48px Kodchasan, sans-serif;
        margin: 0px 0px 20px;
        padding: 15px;
    }


    
    .contacto{  

        color: #fefefe;
        font: 24px Kodchasan, sans-serif;
        border-radius: 80px ;
        background-color: #11208e; /* Color de fondo del recuadro */
        padding: 15px; /* Espacio interno del recuadro */
        width: 150px; /* Ancho del recuadro */
        border: 1px solid #ccc; /* Borde del recuadro */
        margin: 0 auto; /* Centrar horizontalmente */
        text-align: center; /* Centrar el contenido del recuadro */
}
    

      .espaciado{
          padding: 50px;
       }





       .contenedor{
        padding: 100px 600px;
        display: grid;
        grid-template-columns: 300px 300px 300px;
        gap: 8em; 
        }
        



        
        .servicios1{
        background: #ccc;
        padding: 3em;
        font: 20px Kodchasan, sans-serif;
        color: #6b6b6b;
        }



        
        
        .servicios1:hover{
            border: 1px solid grey;
        }


        
        
        .SOMOS{
            color: #2f2c2c;
            font: 35px Kodchasan,sans-serif;    

        }




        .espaciado2{
            padding: 150px;
        }



  
        
        .espaciado3{
            padding: 15px 0px;
        }




        #google-ads-search h2{
            color: #2f2c2c;
            font: 24px, sans-serif;

        }




        #google-ads-display h2{
            color: #2f2c2c;
            font: 24px, sans-serif;
        }



        
        #facebook-ads h2{
            color: #2f2c2c;
            font: 24px, sans-serif;
        }




        #diseno-web h2{
            color: #2f2c2c;
            font: 24px, sans-serif;
        }




        #business-intelligence h2{
            color: #2f2c2c;
            font: 24px, sans-serif;
          
        }




        #data-science h2{
            color: #2f2c2c;
            font: 24px, sans-serif;
            
        }




        
        .seccion{
            background: #fff;
            padding: 100px 0px;
            
        }






        .presentacion{
           text-align: left;
           width: 50%;
           display: block;
           padding: 5px;
           float: right;
           margin-top: 40x;
           position: relative;
           top: -500px;
           left: 20px;
          
        }




        .hola{
            color: #2f2c2c;
            font: 36px, sans-serif;
            font-size: 36px;
            
        }


       .item{
         color: #6b6b6b;
         font-size: 29px;
         padding: 1em;
         
            
       }
        
        
        .attachment-full{
            padding: 40px 40px;
                                 
        }


        .logojavier{
            position: relative;
            top: 200px;
            left: 600px;
           
        }
  
        
     .seccion3{
         position: relative;
         top: 500px;
         left: 560px;
     }

    .elementor-widget-container{
        position: relative;
        top: -500px;
        left: 700px;
        color: #2f2c2c;
        font-size: 20px;
        font-family: sans-serif ;
    }

  